export DB_NAME=
export DB_PORT=
export DB_HOST=
export DB_USERNAME=
export DB_PASSWORD=
export PROMETHEUS_ADDRESS=
export JWT_SECRET=
export BCRYPT_SALT=
export S3_ID=
export S3_SECRET_KEY=
export S3_BUCKET_NAME=
export ENV=
export SSL_MODE=
export SSL_ROOT_CERT=
